
/Order_Management/.vs
/Order_Management/Domain/bin
/Order_Management/Domain/obj
/Order_Management/Order_Management/bin
/Order_Management/Order_Management/obj
/Order_Management/Service/obj
/Order_Management/Service/bin
/Order_Management/Repository/bin
/Order_Management/Repository/obj
